In [97]:
# by geanclm on 02/02/2024

In [5]:
# pip install selenium pyautogui
# pip install webdriver-manager

In [109]:
from selenium import webdriver
from webdriver_manager.microsoft import EdgeChromiumDriverManager
from selenium.webdriver.edge.service import Service
from selenium.webdriver.common.by import By
import pyautogui

import time
from datetime import datetime, timedelta

import pyperclip
import pandas as pd
# import re

In [110]:
# Avaliar o tempo de execução de cada modelo
def hora():
    agora = datetime.now()
    hoje = agora - timedelta(days=0) # se precisar aprsentar a data do dia anterior basta inserir o '1' no lugar do '0'
    print(hoje.strftime("%Y-%m-%d") + ' ' + agora.strftime("%H:%M:%S"))

In [96]:
# verificar posicionamento do cursor
time.sleep(5)
print(pyautogui.position())

Point(x=1431, y=573)

In [139]:
hora()
link = 'https://loterias.caixa.gov.br/Paginas/Loteca.aspx'
# servico = Service(EdgeChromiumDriverManager().install())
# navegador = webdriver.Edge(service=servico)
service = Service()
options = webdriver.EdgeOptions()
navegador = webdriver.Edge(service=service, options=options)

navegador.get(link)
navegador.maximize_window()
time.sleep(5)
navegador.find_element('xpath','//*[@id="adopt-accept-all-button"]').click()
time.sleep(5)


# Salvar dados da webpage em lista local
resultados = []
for i in range(25):
    navegador.find_element('xpath', '//*[@id="buscaConcurso"]').send_keys(str(i+1))
    pyautogui.press('enter')
    time.sleep(2)    
    resultados.append(navegador.find_element(By.XPATH, '//*[@id="wp_resultados"]/div[1]/div/h2/span').text)
    time.sleep(2)
    pyautogui.doubleClick(x=1431, y=573)


# Salvar lista em dataframe
# Função para extrair o número do concurso e a data usando expressões regulares
def extrair_info(resultado):
    match = re.search(r'Concurso (\d+).*\((\d{2}/\d{2}/\d{4})\)', resultado)
    if match:
        return match.group(1), match.group(2)
    return None, None

dados = [extrair_info(resultado) for resultado in resultados]
df = pd.DataFrame(dados, columns=['concurso', 'data'])
hora()

2024-02-02 22:53:22
2024-02-02 22:55:30

In [140]:
# df[df.duplicated()]
df[df.duplicated(keep='last')]

Empty DataFrame
Columns: [concurso, data]
Index: []

In [141]:
df[df.duplicated(keep='first')]

Empty DataFrame
Columns: [concurso, data]
Index: []

In [142]:
df

   concurso        data
0         1  18/02/2002
1         2  25/02/2002
2         3  04/03/2002
3         4  11/03/2002
4         5  18/03/2002
5         6  25/03/2002
6         7  01/04/2002
7         8  08/04/2002
8         9  18/04/2002
9        10  22/04/2002
10       11  29/04/2002
11       12  06/05/2002
12       13  13/05/2002
13       14  20/05/2002
14       15  27/05/2002
15       16  06/06/2002
16       17  11/06/2002
17       18  14/06/2002
18       19  18/06/2002
19       20  24/06/2002
20       21  01/07/2002
21       22  11/07/2002
22       23  15/07/2002
23       24  22/07/2002
24       25  30/07/2002

In [102]:
# df.to_csv('resultados.csv', index=False)