In [97]:
# by geanclm on 02/02/2024

In [5]:
# pip install selenium pyautogui
# pip install webdriver-manager

In [35]:
from selenium import webdriver
from webdriver_manager.microsoft import EdgeChromiumDriverManager
from selenium.webdriver.edge.service import Service
from selenium.webdriver.common.by import By
import pyautogui

import time
from datetime import datetime, timedelta

import pyperclip
import pandas as pd
import numpy as np
import re

In [2]:
# Avaliar o tempo de execução de cada modelo
def hora():
    agora = datetime.now()
    hoje = agora - timedelta(days=0) # se precisar aprsentar a data do dia anterior basta inserir o '1' no lugar do '0'
    print(hoje.strftime("%Y-%m-%d") + ' ' + agora.strftime("%H:%M:%S"))

In [3]:
# verificar posicionamento do cursor
# time.sleep(5)
# print(pyautogui.position())

In [94]:
# fazer varredura de dados
hora()
link = 'https://loterias.caixa.gov.br/Paginas/Loteca.aspx'
# servico = Service(EdgeChromiumDriverManager().install())
# navegador = webdriver.Edge(service=servico)
service = Service()
options = webdriver.EdgeOptions()
navegador = webdriver.Edge(service=service, options=options)

navegador.get(link)
navegador.maximize_window()
time.sleep(5)
navegador.find_element('xpath','//*[@id="adopt-accept-all-button"]').click()
time.sleep(5)


# Salvar dados da webpage em lista local
resultados = []
# for i in range(1095):
for i in (repetidos):    
    pyautogui.doubleClick(x=1431, y=573)
    navegador.find_element('xpath', '//*[@id="buscaConcurso"]').send_keys(str(i+1))
    pyautogui.press('enter')
    time.sleep(2)    
    resultados.append(navegador.find_element(By.XPATH, '//*[@id="wp_resultados"]/div[1]/div/h2/span').text)
    time.sleep(1)


# Salvar lista em dataframe
# Função para extrair o número do concurso e a data usando expressões regulares
def extrair_info(resultado):
    match = re.search(r'Concurso (\d+).*\((\d{2}/\d{2}/\d{4})\)', resultado)
    if match:
        return match.group(1), match.group(2)
    return None, None

dados = [extrair_info(resultado) for resultado in resultados]
df = pd.DataFrame(dados, columns=['concurso', 'data'])
hora()

2024-02-03 18:23:44
2024-02-03 18:35:22

In [13]:
# tempo do primeiro teste realizado completo automatizado
# 2024-02-03 14:43:10
# 2024-02-03 15:43:53

In [100]:
df

    concurso        data
0       1095  29/01/2024
1         13  13/05/2002
2         14  20/05/2002
3         19  18/06/2002
4         20  24/06/2002
..       ...         ...
201     1059  05/06/2023
202     1062  15/06/2023
203     1062  15/06/2023
204     1070  24/07/2023
205     1082  16/10/2023

[206 rows x 2 columns]

In [60]:
# Trabalho para ajustar o dataframe final das datas do concurso
# repetidos1 = list(df[df.duplicated(keep='last')].concurso)
# repetidos2 = list(df[df.duplicated(keep='first')].concurso)
# lista_repetidos = list(set(repetidos1 + repetidos2))
# lista_repetidos_n = list(map(int, lista_repetidos))

In [20]:
# df.to_csv('resultados_com_linhas_repetidas.csv', index=False)

In [101]:
df_concurso_data_loteca = pd.read_csv('concurso_data_loteca.csv')

In [102]:
df_concurso_data_loteca[df_concurso_data_loteca.duplicated(keep = 'last')]

      concurso        data
65          66  26/05/2003
205        206  27/03/2006
208        209  17/04/2006
211        212  08/05/2006
213        214  22/05/2006
...        ...         ...
1057      1057  29/05/2023
1058      1057  29/05/2023
1061      1062  15/06/2023
1063      1064  23/06/2023
1081      1082  16/10/2023

[173 rows x 2 columns]

In [104]:
# repetidos = df_concurso_data_loteca[df_concurso_data_loteca.duplicated(keep = 'last')]
# repetidos

In [83]:
# apagar linhas do dataframe de acordo com array
# df_data.drop(repetidos, inplace=True)